{% extends 'base.html' %}

{% block conteudo %}

<h1>Operações Aritméticas</h1>
<!--  passo 2: verifica as mensagens enviadas pelo app-->
<!-- passo 3: definir with_categories=true caso queira ter acesso as categorias-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-error px-3">
    <!-- passo 4: Percorer a lista de mensagens          -->
    {% for category, message in messages %}
    <!--  passo 5: criar um card filho              -->
    <div class="alert {{ category }} alert-dismissible fade show px-5" role="alert">
        <strong>{{ message }}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}


<div class="calculos">

    <div class="card_operacao">
        <h2>Adição</h2>
        <form class="form-somar" action="{{ url_for('somar') }}" method="post">
            <label>
                <input placeholder="Digite um número" class="form-control w-100" name="form-n1">
            </label>

            <p class="operador">+</p>

            <label>
                <input placeholder="Digite um número" class="form-control w-100" name="form-n2">
            </label>

            <p class="resultado">
                {% if soma is defined %}
                {{ n1 }} + {{ n2 }} = {{ soma }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Somar</button>
        </form>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                                                <i class="bi bi-exclamation-diamond"></i>
                         Como calcular?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <h4>Adição</h4>
                        <p>Para somar é preciso de 2 ou mais números</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card_operacao">
        <h2>Subtração</h2>
        <form class="form-somar" action="{{ url_for('subtrair') }}" method="post">
            <label>
                <input placeholder="Digite um número" class="form-control w-100" name="form-n1">
            </label>

            <p class="operador">-</p>

            <label>
                <input placeholder="Digite um número" class="form-control w-100" name="form-n2">
            </label>

            <p class="resultado">
                {% if subtrair is defined %}
                {{ n1 }} - {{ n2 }} = {{ subtrair }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">subtrair</button>
        </form>
                <div class="accordion accordion-flush" id="accordionFlushExample1">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree1" aria-expanded="false"
                            aria-controls="flush-collapseThree1">
                                                <i class="bi bi-exclamation-diamond"></i>
                         Como calcular?
                    </button>
                </h2>
                <div id="flush-collapseThree1" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample1">
                    <div class="accordion-body">

                        <h4>Subtração</h4>
                        <p>Para subtrair é preciso de 2 ou mais números</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card_operacao">
        <h2>Multiplicação</h2>
        <form class="form-somar" action="{{ url_for('multiplicar') }}" method="post">
            <label>
                <input placeholder="Digite um número" class="form-control w-100" name="form-n1">
            </label>

            <p class="operador">x</p>

            <label>
                <input placeholder="Digite um número" class="form-control w-100" name="form-n2">
            </label>

            <p class="resultado">
                {% if multiplicar is defined %}
                {{ n1 }} * {{ n2 }} = {{ multiplicar }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">multiplicar</button>
        </form>
                        <div class="accordion accordion-flush" id="accordionFlushExample2">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree2" aria-expanded="false"
                            aria-controls="flush-collapseThree2">
                                                <i class="bi bi-exclamation-diamond"></i>
                         Como calcular?
                    </button>
                </h2>
                <div id="flush-collapseThree2" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample2">
                    <div class="accordion-body">

                        <h4>Multiplicação</h4>
                        <p>Para multiplicar é preciso de 2 ou mais números</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card_operacao">
        <h2>Divisão</h2>
        <form class="form-somar" action="{{ url_for('dividir') }}" method="post">
            <label>
                <input placeholder="Digite um número" class="form-control w-100" name="form-n1">
            </label>

            <p class="operador">x</p>

            <label>
                <input placeholder="Digite um número" class="form-control w-100" name="form-n2">
            </label>

            <p class="resultado">
                {% if dividir is defined %}
                {{ n1 }} / {{ n2 }} = {{ dividir }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">dividir</button>
        </form>
                                <div class="accordion accordion-flush" id="accordionFlushExample3">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree3" aria-expanded="false"
                            aria-controls="flush-collapseThree3">
                                                <i class="bi bi-exclamation-diamond"></i>
                         Como calcular?
                    </button>
                </h2>
                <div id="flush-collapseThree3" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample3">
                    <div class="accordion-body">

                        <h4>Divisão</h4>
                        <p>Para dividir é preciso de 2  números</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}